<div class="tab-pane fade {{ argumentsTab ? '' : 'active in' }}" id="source-{{ stepKey }}">
    {% if step.hasPlaceInCode() %}
        {% set placeInCode = step.getPlaceInCode() %}
        {% set lines = placeInCode.getAdjacentCode(15) %}
        <div class="code-box max-height {{ arguments|length == 0 ? 'rounded' }}">
            {% for line in lines %}
                {% set lineNumber = line.getLineNumber()|strpad(lines.getLastLineIndex()|length) %}
                {% set lineClasses = line.getLineNumber() == placeInCode.getLineNumber() ? 'error-line' %}
                {% set lineToDisplay = line|replace({"\t": '    '}) %}

                {% if hasEditor %}
                    {% set tmpUrl = editor.getLinkToFile(line.getFileName(), line.getLineNumber()) %}
                    {% autoescape false %}
                        <span class="{{ lineClasses }}"
                        ><a href="{{ tmpUrl|e('html_attr') }}">{{ lineNumber|e }}</a>    {{ lineToDisplay|e }}</span>
                    {% endautoescape %}
                {% else %}
                    <span class="{{ lineClasses }}">{{ lineNumber }}    {{ lineToDisplay }}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p class="code-box max-height">Source code does not exist for this step.</p>
    {% endif %}
</div>
