{% set unknownCounter = 0 %}
{% set argIndex = -1 %}
<div class="tab-pane fade {{ argumentsTab ? 'active in' }}" id="colorized-key-{{ stepKey }}">
    <div class="panel-group">
        {% for keyParam, param in arguments %}
            {% set argIndex = argIndex + 1 %}
            {% set showFull = argIndex < 5 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if param.hasDeclaration() %}
                        {% set declaration = param.getDeclaration() %}

                        {% set prefixName = '' %}
                        {% if declaration.isPassedByReference() %}
                            {% set prefixName = '&' %}
                        {% endif %}
                        {% if declaration.isVariadic() %}
                            {% set prefixName = '...' %}
                        {% endif %}
                        {% if declaration.hasType() %}
                            {% set prefixName = declaration.getType() ~ ': ' ~ prefixName %}
                        {% endif %}

                        {% set argumentName = prefixName ~ '$' ~ declaration.getName() %}
                    {% else %}
                        {% set argumentName = 'unknown' ~ unknownCounter %}
                        {% set unknownCounter = unknownCounter + 1 %}
                    {% endif %}
                    <a
                            data-toggle="collapse"
                            data-target="#parameters-{{ stepKey }}-{{ keyParam }}"
                            class="var-header {{ showFull ? '' : 'collapsed' }}"
                    >
                        {{ argumentName }}
                        {% if param.hasDeclaration() %}
                            {% set declaration = param.getDeclaration() %}
                            {% if declaration.hasDefaultValue() %}
                                {% if declaration.hasDefaultValueConstantName() %}
                                    {{ ' ' }}= <strong>{{ declaration.getDefaultValueConstantName() }}</strong>
                                {% elseif declaration.hasDefaultValue() %}
                                    {{ ' ' }}= <strong>{{ exportDeclaredValue(declaration.getDefaultValue()) }}</strong>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div
                        id="parameters-{{ stepKey }}-{{ keyParam }}"
                        class="panel-collapse collapse {{ showFull ? 'in' }}"
                >
                    <div class="panel-body">
                        {% if param.hasValue() %}
                            <pre class="max-height">{{ param.getValue().dumpAsString() }}</pre>
                        {% else %}
                            <pre>undefined</pre>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
